@import "tailwindcss";

:root {
  --brand-orange: #f18a22;
  --brand-black: #000000;
}

body {
  background-color: var(--brand-black);
  color: #fff;
}

.custom-scrollbar::-webkit-scrollbar { width: 6px; }
.custom-scrollbar::-webkit-scrollbar-track { background: transparent; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: #333; border-radius: 20px; }
.custom-scrollbar::-webkit-scrollbar-thumb:hover { background-color: #555; }

.animate-in { animation-fill-mode: forwards; }
